@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* imported font */
/* font */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
/* shared style End */

/* header style */

/* header style End */
/* navbar style */
.navbar {
    justify-content: space-between;
}
.nav-items {
    list-style: none;
    margin-right: 40px;
}
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* navbar style End */